<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	<bean name="loggingAspect" class="com.javachen.aop.LoggingAspect" />
	<aop:config>
		<!-- The Pointcut(s). -->
		<aop:pointcut id="loggingPointcut"
			expression="within(com.javachen.service..*) and execution(public * *(..))" />

		<!-- The Advice(s). -->
		<aop:aspect id="loggingAspect" ref="loggingAspect">
			<aop:around pointcut-ref="loggingPointcut" method="logService" />
		</aop:aspect>
	</aop:config>
</beans>
