/node_modules/
/bower_components/
/.sass-cache/
/.idea/
/.tmp/
/dist/
/.gradle/
/gradle/
/build/
/run/
/*.iml
/target/
/bin/
/.classpath
flyway/build/*
flyway/flyway.iml
.gradle/
.idea/
.log/
build/
target/
*.iml
classes/*
npm-debug.log
*.ipr
*.iws
publish
.classpath
.project
.settings
/application.properties
/application-test.properties
/application.pid
bin/
out
.sass-cache/
client/bower_components/
node_modules/
src/main/resources/static/vendor/
src/main/resources/static/js/src/templates.js
dist/
client/assets/css/
client/assets/js/templates.js
.DS_Store
.tags
.tags1
.tags2
logs/
keytmp/
*.js.map
*.css.map
run/
dist-deploy/
