<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Application context definition for JPetStore's business layer.
  - Contains bean references to the transaction manager and to the DAOs in
  - dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
           >
	<bean id="orgManager" class="com.bjsxt.oa.manager.impl.OrgManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>    

	<bean id="personManager" class="com.bjsxt.oa.manager.impl.PersonManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="aclManager" class="com.bjsxt.oa.manager.impl.AclManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="moduleManager" class="com.bjsxt.oa.manager.impl.ModuleManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="roleManager" class="com.bjsxt.oa.manager.impl.RoleManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userManager" class="com.bjsxt.oa.manager.impl.UserManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	   
	<bean id="initSystemDatas" class="com.bjsxt.oa.manager.impl.InitSystemDatasImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="userManager" ref="userManager"></property>
		<property name="orgManager" ref="orgManager"></property>
	</bean>
	
	<!-- JSTL函数 -->
	<bean id="sucurityFunctions" class="com.bjsxt.oa.web.SecurityFunctions">
		<property name="aclManager" ref="aclManager"></property>
	</bean>		
	
	<bean id="workflowManager" class="com.bjsxt.oa.manager.impl.WorkflowManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="jbpmFacade" class="com.bjsxt.oa.manager.impl.JbpmFacadeImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="documentManager" class="com.bjsxt.oa.manager.impl.DocumentManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="formManager" class="com.bjsxt.oa.manager.impl.FormManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	
	<bean id="dynaFormFunction" class="com.bjsxt.oa.web.DynaFormFunction">
		<property name="formManager" ref="formManager"></property>
	</bean>
	
	<bean id="roleAssignmentHandler" class="com.bjsxt.oa.manager.impl.RoleAssignmentHandler">
		<property name="userManager" ref="userManager"></property>
	</bean>
	
	<bean id="roleAssignmentAction" class="com.bjsxt.oa.manager.impl.RoleAssignmentAction">
		<property name="userManager" ref="userManager"></property>
	</bean>
	
	<bean id="meetingRoomManager" class="com.bjsxt.oa.manager.impl.MeetingRoomManagerImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
